*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body{
    background-color: #90b5e9;
}

a{
    color: #000;
    text-decoration: none;
}

header{
    background-color: #4150a8;
    height: 7vh;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#logoImg{
    width: 10vw;
    margin-left: 1%;
    margin-top: 1%;
}

#hamburguer{
    float: right;
}

#co{
    display: inline-block;
}

#titulo{
    width: 98px;
    height: 43px;
    background-color: #4960DE;
    border: solid 2px;
    border-radius: 5px;
    margin-top: 18%;
    margin-left: 5%;
    display: inline-block;
}

#perfil{
    text-align: center;
    margin-top: 10%;
}

#barra{
    width: 230px;
    height: 35px;
    border-radius: 20px;
}

#pesquisa{
    display: inline-block;
    margin-left: 1%;
}

#viajantes{
    display: flex;
    gap: 5%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5%;
}

.pessoinhaQuadrada{
    background-color: #4960DE;
    width: 111px;
    height: 97px;
    border: solid 2px;
    border-radius: 20px;
}

.pessoinha{
    margin-top: 5%;
    margin-top: 30%;
}

#person{
    width: 90px;
    margin-left: 10%;
}

.pessoa{
    text-align: center;
    margin-top: 2%;
}
